@import '../../assets/scss/variables.scss';

:host {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  width: 100%;
  background-color: var(--background-color);
  color: var(--background-contrast-color);
  overflow: hidden;
}

.site-wrapper {
  display: flex;
  flex-direction: row;
  height: calc(100% - 2.75rem);
  width: 100%;
  .sidebar-wrapper {
    display: flex;
    flex-direction: row;
    width: fit-content;
  }
  .content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    .router-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100%;
      width: 100%;
      padding-top: 3rem;
      overflow-y: auto;
    }
  }
}



