$primary-color: #AAD94C;
$primary-contrast-color: #0D1017;

$secondary-color: #39BAE6;
$secondary-contrast-color: #0D1017;

$secondary-pulse-color:  #39BAE6AA;

$surface-color: #131822;
$surface-contrast-color: #BFBDB6;
$surface-contrast-transparent-color: #BFBDB644;

$background-color: #0D1017;
$background-contrast-color: #BFBDB6;

$success-color: #7FD962;
$success-contrast-color: #0D1017;

$warning-color: #FFB454;
$warning-contrast-color: #0D1017;

$error-color: #F26D78;
$error-contrast-color: #0D1017;

