:root {
    --primary-color: #aad94c;
    --primary-contrast-color: #0d1017;
    --primary-txt-color: #aad94c;
    --primary-txt-contrast-color: #0d1017;

    --secondary-color: #39bae6;
    --secondary-contrast-color: #0d1017;
    --secondary-txt-color: #39bae6;
    --secondary-txt-contrast-color: #0d1017;

    --surface-color: #131822;
    --surface-contrast-color: #bfbdb6;
    --surface-contrast-transparent-color: #bfbdb644;
    --surface-txt-color: #131822;
    --surface-txt-contrast-color: #bfbdb6;
    --surface-txt-contrast-transparent-color: #bfbdb644;

    --background-color: #0d1017;
    --background-contrast-color: #bfbdb6;
    --background-txt-color: #0d1017;
    --background-txt-contrast-color: #bfbdb6;

    --success-color: #7fd962;
    --success-contrast-color: #0d1017;
    --success-txt-color: #7fd962;
    --success-txt-contrast-color: #0d1017;

    --warning-color: #ffb454;
    --warning-contrast-color: #0d1017;
    --warning-txt-color: #ffb454;
    --warning-txt-contrast-color: #0d1017;

    --error-color: #f26d78;
    --error-contrast-color: #0d1017;
    --error-txt-color: #f26d78;
    --error-txt-contrast-color: #0d1017;

    --secondary-pulse-color: #39bae6aa;

    --button-color: #aad94c;
    --button-contrast-color: #0d1017;
    --button-txt-color: #aad94c;
    --button-txt-contrast-color: #0d1017;

    --button-hover-color: #0d1017;
    --button-hover-contrast-color: #bfbdb6;
    --button-txt-hover-color: #bfbdb6;
    --button-txt-hover-contrast-color: #0d1017;
}

$primary-color: var(--primary-color);
$primary-contrast-color: var(--primary-contrast-color);
$primary-txt-color: var(--primary-txt-color);
$primary-txt-contrast-color: var(--primary-txt-contrast-color);

$secondary-color: var(--secondary-color);
$secondary-contrast-color: var(--secondary-contrast-color);
$secondary-txt-color: var(--secondary-txt-color);
$secondary-txt-contrast-color: var(--secondary-txt-contrast-color);

$surface-color: var(--surface-color);
$surface-contrast-color: var(--surface-contrast-color);
$surface-contrast-transparent-color: var(--surface-contrast-transparent-color);
$surface-txt-color: var(--surface-txt-color);
$surface-txt-contrast-color: var(--surface-txt-contrast-color);
$surface-txt-contrast-transparent-color: var(--surface-txt-contrast-transparent-color);

$background-color: var(--background-color);
$background-contrast-color: var(--background-contrast-color);
$background-txt-color: var(--background-txt-color);
$background-txt-contrast-color: var(--background-txt-contrast-color);

$success-color: var(--success-color);
$success-contrast-color: var(--success-contrast-color);
$success-txt-color: var(--success-txt-color);
$success-txt-contrast-color: var(--success-txt-contrast-color);

$warning-color: var(--warning-color);
$warning-contrast-color: var(--warning-contrast-color);
$warning-txt-color: var(--warning-txt-color);
$warning-txt-contrast-color: var(--warning-txt-contrast-color);

$error-color: var(--error-color);
$error-contrast-color: var(--error-contrast-color);
$error-txt-color: var(--error-txt-color);
$error-txt-contrast-color: var(--error-txt-contrast-color);

$secondary-pulse-color: var(--secondary-pulse-color);

$button-color: var(--button-color);
$button-contrast-color: var(--button-contrast-color);
$button-txt-color: var(--button-txt-color);
$button-txt-contrast-color: var(--button-txt-contrast-color);

$button-hover-color: var(--button-hover-color);
$button-hover-contrast-color: var(--button-hover-contrast-color);
$button-txt-hover-color: var(--button-txt-hover-color);
$button-txt-hover-contrast-color: var(--button-txt-hover-contrast-color);


/* ---- global background-colors ---- */
.primary-color {
    background-color: $primary-color;
}
.primary-contrast-color {
    background-color: $primary-contrast-color;
}
.secondary-color {
    background-color: $secondary-color;
}
.secondary-contrast-color {
    background-color: $secondary-contrast-color;
}
.surface-color {
    background-color: $surface-color;
}
.surface-contrast-color {
    background-color: $surface-contrast-color;
}
.surface-contrast-transparent-color {
    background-color: $surface-contrast-transparent-color;
}
.secondary-pulse-color {
    background-color: $secondary-pulse-color;
}
.background-color {
    background-color: $background-color;
}
.background-contrast-color {
    background-color: $background-contrast-color;
}
.success-color {
    background-color: $success-color;
}
.success-contrast-color {
    background-color: $success-contrast-color;
}
.warning-color {
    background-color: $warning-color;
}
.warning-contrast-color {
    background-color: $warning-contrast-color;
}
.error-color {
    background-color: $error-color;
}
.error-contrast-color {
    background-color: $error-contrast-color;
}
.button-color {
    background-color: $button-color;
}
.button-contrast-color{
    background-color: $button-contrast-color;
}
.button-hover-color {
    background-color: $button-hover-color;
}
.button-hover-contrast-color {
    background-color: $button-hover-contrast-color;
}

/* ---- global txt-color ---- */
.primary-txt-color {
    color: $primary-txt-color;
}
.primary-txt-contrast-color {
    color: $primary-txt-contrast-color;
}
.secondary-txt-color {
    color: $secondary-txt-color;
}
.secondary-txt-contrast-color {
    color: $secondary-txt-contrast-color;
}
.surface-txt-color {
    color: $surface-txt-color;
}
.surface-txt-contrast-color {
    color: $surface-txt-contrast-color;
}
.surface-txt-contrast-transparent-color {
    color: $surface-txt-contrast-transparent-color;
}
.background-txt-color {
    color: $background-txt-color;
}
.background-txt-contrast-color {
    color: $background-txt-contrast-color;
}
.success-txt-color {
    color: $success-txt-color;
}
.success-txt-contrast-color {
    color: $success-txt-contrast-color;
}
.warning-txt-color {
    color: $warning-txt-color;
}
.warning-txt-contrast-color {
    color: $warning-txt-contrast-color;
}
.error-txt-color {
    color: $error-txt-color;
}
.error-txt-contrast-color {
    color: $error-txt-contrast-color;
}
.button-txt-color {
    color: $button-txt-color;
}
.button-txt-contrast-color {
    color: $button-txt-contrast-color;
}
.button-txt-hover-color {
    color: $button-txt-hover-color;
}
.button-txt-hover-contrast-color {
    color: $button-txt-hover-contrast-color;
}
