<app-background [lowerText]="'Main.Settings.BackgroundBottom'" [upperText]="'Main.Settings.BackgroundTop'"></app-background>

<section class="content-wrapper">

    <section class="settings-section">
        <span class="setting-headline">{{ 'Main.Settings.Themes' | translate }}:</span>
        @for (theme of themes; track themes) {
        <div class="btn-wrapper">
            <app-button [text]="'Main.Settings.' + theme | translate" [outlined]="false" (click)="setThemeFromString(theme)" [active]="theme === activeTheme"></app-button>
        </div>
        }
    </section>

    <section class="settings-section">
        <span class="setting-headline">{{ 'Main.Settings.Languages' | translate }}:</span>
        @for (language of languages; track languages) {
        <div class="btn-wrapper">
            <app-button [text]="'Main.Settings.' + language | translate" [outlined]="true" (click)="setLanguage(language)" [active]="language === activeLanguage"></app-button>
        </div>
        }
    </section>

</section>
