<app-background [lowerText]="'Main.Contact.BackgroundBottom'"
                [upperText]="'Main.Contact.BackgroundTop'"></app-background>

<section class="front-content">

  <div class="contact-form">
    <span class="input-headline">_{{ 'Main.Contact.Name' | translate }}:</span>
    <input class="input-name input" type="text">
    <span class="input-headline">_{{ 'Main.Contact.Email' | translate }}:</span>
    <input class="input-email input" type="email">
    <span class="input-headline">_{{ 'Main.Contact.Subject' | translate }}:</span>
    <input class="input-subject input" type="text">
    <span class="input-headline">_{{ 'Main.Contact.Message' | translate }}:</span>
    <textarea class="input-message input" id="" name="" rows="7"></textarea>
  </div>

  <div class="contact-info">
    <span class="input-headline">_{{ 'Main.Contact.Email' | translate }}:</span>
    <a class="contact-email" href= "mailto: MarceldeZanna@gmail.com">{{ 'Main.Contact.ContactEmail' | translate }}</a>
    <span class="input-headline">_{{ 'Main.Contact.Phone' | translate }}:</span>
    <a class="contact-tel" href="tel:+491728984502">{{ 'Main.Contact.ContactPhone' | translate }}</a>
    <div class="contact-icons">
      <a class="contact-git" href="https://github.com/Semjasa83" target="_blank">
        <i class="fa-brands fa-github icon-fa"></i>
      </a>
      <a class="contact-linkedin" href="https://www.linkedin.com/in/marcel-de-zanna/" target="_blank">
        <i class="fa-brands fa-linkedin icon-fa"></i>
      </a>
    </div>
  </div>

  <!-- <div class="front-button-wrapper">
  <div class="btn-wrapper">
    <app-button [text]="'Main.Home.ButtonWork' | translate"></app-button>
  </div>
  <div class="btn-wrapper ml-8">
    <app-button [text]="'Main.Home.ButtonContact' | translate" [outlined]="true"></app-button>
  </div>
</div> -->
</section>
