<div class="headline">
  <span class="headline-1">About</span>
  <span class="headline-2">Me</span>
</div>


<div class="iam-content-wrapper">
  <img src="../../../assets/Images/archery.jpeg">
  <div class="iam-content">
    <div class="iam-content-spacer">
      <span class="iam-content-text">
        I have always been fascinated by the diverse possibilities of using programming
        sensibly for
        automation. As I started to dive deeper into software development, I discovered that it was a perfect
        combination of my strengths and interests.
      </span>
    </div>

    <a class="cursor" href="#" target="_blank">Download CV</a>
  </div>
</div>

<div class="skills-content-wrapper">
  <div class="skill-content">
    <div class="skill-headline">
      <div class="skill-head-1">My</div>
      <div class="skill-head-2">Skillset</div>
    </div>

    <span class="skill-text">
      At this point my frontend development skills, which I have used in several single and group projects. More
      on that in the projects below.
    </span>
  </div>
  <div class="skills-area">
    <!--    <div class="skills-overview disp-fl-just" *ngFor="let skill of skills">
      <img src="{{skill.icon}}">
      <span class="skill-name">{{skill.name}}</span>
    </div>-->
  </div>

</div>