<!-- <div class="img-wrapper">
  <img src="./assets/Images/profilepic.jpg" alt="profilePic">
</div> -->

<div class="content-wrapper">
  <app-background [lowerText]="'Main.About.BackgroundBottom'" [upperText]="'Main.About.BackgroundTop'"></app-background>

  <div class="iam-content-wrapper">
    <div class="iam-content">
      <div class="iam-content-spacer">
        <div class="iam-content-text">
          <span>{{ 'Main.About.UpperIntro' | translate }}</span>
          <span>{{ 'Main.About.LowerIntro' | translate }}</span>
        </div>
        <div class="focus-text">
          <span class="material-symbols-outlined icon">emoji_objects</span>
          <span>{{ 'Main.About.FirstFocus' | translate }}</span>
        </div>
        <div class="focus-text">
          <span class="material-symbols-outlined icon">extension</span>
          <span>{{ 'Main.About.SecondFocus' | translate }}</span>
        </div>
      </div>

      <a class="cursor" href="#" target="_blank">Download CV</a>
    </div>

    <div class="archery-pic">
      <img ngSrc="./assets/Images/profilepic.jpg" alt="profilePic" height="840" width="600">
<!--      <img alt="altPic" height="960" ngSrc="./assets/Images/archery.jpeg" width="960">-->
    </div>
  </div>








  <div class="skills-content-wrapper">
    <div class="skill-content">
      <div class="skill-headline">
        <div class="skill-head-1">My</div>
        <div class="skill-head-2">Skillset</div>
      </div>

      <span class="skill-text">
        At this point my frontend development skills, which I have used in several single and group projects. More
        on that in the projects below.
      </span>
    </div>
    <div class="skills-area">
      <!--    <div class="skills-overview disp-fl-just" *ngFor="let skill of skills">
        <img src="{{skill.icon}}">
        <span class="skill-name">{{skill.name}}</span>
      </div>-->
    </div>

  </div>

</div>
