@import "../../../assets/scss/variables.scss";

:host {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 100%;
  font-family: "Fira Code", sans-serif;
  position: relative;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  padding-bottom: 3rem;
  z-index: 1;

  .subheadline {
    display: flex;
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 2rem;
  }

  .content {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    margin-bottom: 2rem;

    .content-spacer {
      display: flex;
      flex-direction: column;
      width: 70%;

      .content-text {
        display: flex;
        flex-direction: column;
        text-align: justify-all;

        .upper-content-text {
          margin-bottom: 1rem;
        }
      }
    }

    .profile-pic {
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      height: fit-content;
      width: 30%;
      border-radius: 100%;
      border: 5px solid $primary-color;
      margin: 2rem;
      max-width: 500px;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }
}

.skill-section {
  width: 100%;
  justify-content: space-between;

  .skill-txt {
    display: flex;
    width: 50%;
    padding: 1rem;
  }

  .skill-icons-wrapper {
    display: flex;
    width: 40%;
    align-items: center;

    .skill-icons {
      width: 80%;
      display: flex;
      flex-wrap: wrap;
      gap: 2rem;
    }
  }

}

.focus-text {
  display: flex;
  align-items: center;
  margin-top: 2rem;
}

.icon {
  color: $primary-color;
  font-size: 4rem;
  margin-right: 1rem;
}

.skill-icons>svg>path{ /*target the image with css*/
  fill: $primary-color;
}

.material-symbols-outlined {
  font-variation-settings:
    "FILL" 0,
    "wght" 300,
    "GRAD" 200,
    "opsz" 48;
}

@media (max-width: 1024px) {
  .content-wrapper {
    .content {
      flex-direction: column-reverse;

      .profile-pic {
        width: 70%;
        margin: 2rem;
      }
    }
  }

  .skill-section {
    .skill-txt {
      width: 80%;
      margin-bottom: 2rem;
    }

    .skill-icons-wrapper {
      width: 80%;
      justify-content: center;
    }
  }

}

@media (min-width: 1400px) {
  :host {
    align-items: center;
  }

  .content-wrapper {
    max-width: 80%;
  }
}

@media (min-width: 1800px) {
  .content-wrapper {
    max-width: 60%;
  }
}
