<div class="explorer-space-wrapper">
    <div class="headline">Explorer</div>
    <div class="explorer-headline">
        <span class="material-symbols-outlined icon">
            keyboard_arrow_down
        </span>
        <span>Portfolio_V4</span>
        <div>
          <span class="item-explorer">

          </span>
          <span class="item-explorer">

          </span>
          <span class="item-explorer">

          </span>
          <span class="item-explorer">

          </span>
        </div>
    </div>
</div>
