<div class="explorer-space-wrapper">
  <div class="explorer-headline-index">
    <div class="headline">{{ 'Utility.Explorer.Headline' | translate }}</div>
    <div class="explorer-headline-wrapper">
      <span class="material-symbols-outlined icon">
        keyboard_arrow_down
      </span>
      <span class="explorer-headline">{{ 'Utility.Explorer.SubHeadline' | translate }}</span>
    </div>

    <div class="explorer-tree">
      <div class="item-explorer" routerLink="home" routerLinkActive="active">
        <div class="icon-wrapper">
          <img alt="html-icon" class="html icon" height="96" ngSrc="././assets/icons/html.png" width="85">
        </div>
        <span>{{ 'Utility.Navigation.Home' | translate }}</span>
      </div>
      <div class="item-explorer" routerLink="about" routerLinkActive="active">
        <div class="icon-wrapper">
          <img alt="css-icon" class="css icon" height="96" ngSrc="././assets/icons/css.png" width="96">
        </div>
        <span>{{ 'Utility.Navigation.AboutMe' | translate }}</span>
      </div>
      <div class="item-explorer" routerLink="projects" routerLinkActive="active">
        <div class="icon-wrapper">
          <img alt="json-icon" class="json icon" height="64" ngSrc="././assets/icons/json.png" width="64">
        </div>
        <span>{{ 'Utility.Navigation.Projects' | translate }}</span>
      </div>
      <div class="item-explorer" routerLink="contact" routerLinkActive="active">
        <div class="icon-wrapper">
          <img alt="typescript-icon" class="typescript icon" height="69" ngSrc="././assets/icons/typescript.png"
            width="96">
        </div>
        <span>{{ 'Utility.Navigation.ContactMe' | translate }}</span>
      </div>
      <div class="item-explorer">
        <a href="https://github.com/Semjasa83" target="_blank">
          <div class="icon-wrapper">
            <img alt="javascript-icon" class="javascript icon" height="96" ngSrc="././assets/icons/javascript.png"
              width="96">
          </div>
          <span>{{ 'Utility.Navigation.GitHub' | translate }}</span>
        </a>
      </div>

      <div class="item-explorer">
        <a href="https://www.linkedin.com/in/marcel-de-zanna/" target="_blank">
          <div class="icon-wrapper">
            <img alt="mg-icon" class="md icon" height="64" ngSrc="././assets/icons/md.png" width="64">
          </div>
          <span>{{ 'Utility.Navigation.LinkedIn' | translate }}</span>
        </a>
      </div>

      <div class="item-explorer" routerLink="settings" routerLinkActive="active">
        <div class="icon-wrapper">
        <span class="material-symbols-outlined settings">
          settings
        </span>
        </div>
        <span>{{ 'Utility.Navigation.Settings' | translate }}</span>
      </div>
    </div>
  </div>
</div>