<div class="sidebar-content-wrapper">
    <span class="material-symbols-outlined icon" routerLink="home" routerLinkActive="active">
        file_copy
    </span>

    <span class="material-symbols-outlined icon" routerLink="about" routerLinkActive="active">
        border_color
    </span>

    <span class="material-symbols-outlined icon" routerLink="projects" routerLinkActive="active">
        data_object
    </span>

    <span class="material-symbols-outlined icon" routerLink="contact" routerLinkActive="active">
        forward_to_inbox
    </span>

    <i class="fa-brands fa-github icon-fa"></i> <!--<href target="_blank" rel="noopener noreferrer" -->

    <i class="fa-brands fa-linkedin icon-fa"></i><!--<href target="_blank" rel="noopener noreferrer" -->
</div>


<div class="sidebar-content-wrapper">
    <span class="material-symbols-outlined icon" routerLink="home"><!--<href target="_blank" rel="noopener noreferrer" -->
        account_circle
    </span>

    <div class="settings-wrapper" routerLink="settings" routerLinkActive="active">
        <span class="material-symbols-outlined settings"><!--<href target="_blank" rel="noopener noreferrer" -->
            settings
        </span>
    </div>

</div>
