<div class="home-wrapper">
  <!--<div class="content-wrapper">-->
    <section class="bgr-txt-wrapper">
      <span class="bgr-txt">{{'Main.Home.BackgroundTop' | translate}}</span>
      <span class="bgr-txt">{{'Main.Home.BackgroundBottom' | translate}}</span>
    </section>

    <section class="front-content">

        <span class="front-txt-top">{{'Main.Home.Name' | translate}}</span>
        <span class="front-txt-bottom">{{'Main.Home.Title' | translate}}</span>

  
      <div class="front-button-wrapper">
        <div class="btn-wrapper">
          <app-button [text]="'Main.Home.ButtonWork' | translate"></app-button>
        </div>
        <div class="btn-wrapper ml-8">
          <app-button [text]="'Main.Home.ButtonContact' | translate" [outlined]="true"></app-button>
        </div>
      </div>
    </section>

</div>
