@import "../../../assets/scss/variables.scss";
@import "../../../assets/scss/fira_fonts.scss";
@import "../../../assets/scss/roboto_fonts.scss";

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 90%;
  font-family: "Fira Code", sans-serif;
  font-style: normal;
  justify-content: center;
  align-items: flex-start;
  position: relative;
}

.front-content {
  z-index: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  .front-txt-top {
    font-size: 4rem;
    font-weight: 400;
    color: $background-contrast-color;
    width: fit-content;
  }
  .front-bottom-txt-spacer {
    width: fit-content;
    .front-txt-bottom {
      font-size: 2rem;
      font-weight: 400;
      color: $background-contrast-color;
      padding-right: 1rem;
      width: fit-content;
    }
  }

  .text-alignment {
    display: flex;
    flex-wrap: wrap;
  }

  .front-button-wrapper {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    .btn-wrapper {
      height: fit-content;
      min-width: fit-content;
      width: 10rem;
    }
    .ml-8 {
      margin-left: 2rem;
    }
  }
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  50% { border-color: transparent; }
}

.typing-effect {
  display: flex;
  justify-content: flex-start;
  border-right: 2px solid $primary-color;
  white-space: nowrap; /* Keeps the content on a single line */
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  text-align: left; /* Text ausrichten */
  animation: typing 1s steps(200, end), blink-caret .75s step-end infinite;
}

.txt-invisibility {
  visibility: hidden;
}

@media (max-width: 768px) {
  .front-content {
    //overflow-x: hidden;
    scale: 0.8;
  }

}
