@import "../../../assets/scss/variables.scss";
@import "../../../assets/scss/fira_fonts.scss";
@import "../../../assets/scss/roboto_fonts.scss";

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 90%;
  font-family: "Fira Code", sans-serif;
  font-style: normal;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
}

.front-content {
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  .front-txt-top {
    font-size: 4rem;
    font-weight: 400;
    color: $background-contrast-color;
    width: fit-content;
  }
  .front-txt-bottom {
    font-size: 2rem;
    font-weight: 400;
    color: $background-contrast-color;
    border-right: 2px solid $primary-color;
    padding-right: 1rem;
    width: fit-content;
  }

  .front-button-wrapper {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    .btn-wrapper {
      height: fit-content;
      min-width: fit-content;
      width: 10rem;
    }
    .ml-8 {
      margin-left: 2rem;
    }
  }
}

app-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}