<div class="home-wrapper">
  <!--<div class="content-wrapper">-->
    <section class="bgr-txt-wrapper">
      <span class="bgr-txt">{{'Main.Home.BackgroundTop' | translate}}</span>
      <span class="bgr-txt">{{'Main.Home.BackgroundBottom' | translate}}</span>
    </section>

    <section class="front-txt-wrapper">
      <span class="front-txt-top">{{'Main.Home.Name' | translate}}</span>
      <span class="front-txt-bottom">{{'Main.Home.Title' | translate}}</span>
    </section>

    <section class="front-button-wrapper">
      <div class="btn-work">{{'Main.Home.ButtonWork' | translate}}</div>
      <div class="btn-contact">{{'Main.Home.ButtonContact' | translate}}</div>
    </section>


</div>
