<app-background [lowerText]="'Main.Projects.BackgroundBottom'" [upperText]="'Main.Projects.BackgroundTop'"></app-background>

<div class="project-wrapper">
    <div class="project-frame">
        <div class="project-img-wrapper">
            <div class="project-img"></div>
        </div>
        <div class="project-content">
            <div class="project-links">
                <a href="https://github.com/Semjasa83" target="_blank">
                    <i class="fa-brands fa-github icon-fa"></i>
                </a>
                <app-button [icon]=""></app-button>
            </div>
            <div class="project-txt">
                <span>testtext</span>
                <span>TechSTACK</span>
            </div>
        </div>
    </div>
</div>