<!--<app-background [lowerText]="'Main.Projects.BackgroundBottom'"-->
<!--                [upperText]="'Main.Projects.BackgroundTop'"></app-background>-->

<div class="project-area">
  @for (p of projects; track projects; let idx = $index) {
  <div class="projects">
    <div class="project-img">
      <img src="{{p.image}}" class="project-img-spacer">
    </div>

    <div class="project-info">
      <div class="project-txt-section">
        <div class="project-txt">
          <span class="project-name">{{p.title}}</span>
          <span class="project-info-txt">{{p.description | translate}}</span>
        </div>

        <div class="stack-section">
          <span class="stack-intro">{{'Main.Projects.Technologies' | translate}}</span>
          <span class="stack">{{' ' + p.technologies.join(', ')}}</span>
        </div>

        <div class="social-media">
          <a href="{{p.url}}" target="_blank" class="media-icon cursor">
            <i class="fa-regular fa-circle-play icon-fa"></i>
            <span>{{'Main.Projects.Try' | translate}}</span>
          </a>
          <a href="{{p.github}}" target="_blank">
            <i class="fa-brands fa-github icon-fa"></i>
            <span>{{'Main.Projects.GitHub' | translate}}</span>
          </a>
        </div>
      </div>
    </div>
  </div>
  }
</div>
