@import "../../../assets/scss/variables.scss";

:host {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 100%;
  font-family: "Fira Code", sans-serif;
  position: relative;
}

.project-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  z-index: 1;
  gap: 4rem;

  .project-frame {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 24rem;
  }

  .project-img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    .project-img {
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 85%;
        height: 85%;
        object-fit: contain;
      }
    }
  }

  .project-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    .project-links {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 25%;
      min-width: fit-content;
      height: fit-content;
      gap: 2rem;
      padding: 1rem;

      .link-wrapper {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        a {
          display: flex;
          justify-content: center;
          align-items: center;
          text-decoration: none;
          color: $secondary-color;
          width: fit-content;
          padding: 0.25rem;
          cursor: pointer;
          border: 1px solid $secondary-color;
          border-radius: 50%;

          .icon-fa {
            align-items: center;
            display: flex;
            height: 2rem;
            justify-content: center;
            transition: background-color 0.3s;
            width: 100%;
          }

          &:hover {
            color: $surface-txt-contrast-color;
            cursor: pointer;
            border: 1px solid $surface-contrast-color;
          }
        }

        span {
          margin-top: 0.25rem;
        }
      }
    }

    .project-txt {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      gap: 1rem;
      padding: 1rem;
    }
  }

}

app-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.title {
  color: $primary-txt-color;
}


@media (min-width: 90rem) {
  :host {
    align-items: center;
  }
  .project-wrapper {
    max-width: 80%;
  }
}

@media (max-width: 64rem) {
  .project-wrapper {
    .project-frame {
      flex-direction: column;
    }
  }
}
