@import "../../../assets/scss/variables.scss";
@import "../../../assets/scss/fira_fonts.scss";
@import "../../../assets/scss/roboto_fonts.scss";

:host {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  font-family: Roboto, serif;
}

.btn {
  align-items: center;
  //border-radius: .625rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0.5rem;
  width: 100%;
  .btn-text {
    font-weight: 700;
  }
  .btn-icon {
    margin: 0 0.5rem;
  }
  &:hover {
    cursor: pointer;
  }
}

.filled {
  background-color: $button-color;
  border: 2px solid $button-color;
  color: $button-txt-contrast-color;
  &:hover{
    background-color: $button-hover-contrast-color;
    border: 2px solid $button-hover-contrast-color;
    color: $button-txt-hover-contrast-color;
  }
}

.outlined {
  background-color: $button-contrast-color;
  border: 2px solid $button-color;
  color: $button-txt-color;
  &:hover{
    background-color: $button-hover-color;
    border: 2px solid $button-hover-contrast-color;
    color: $button-txt-hover-color;
  }
}

.isActive:not(.outlined) {
  background-color: $secondary-color;
  border: 2px solid $secondary-color;
  color: $secondary-contrast-color;
}

.isActive:not(.filled) {
  border: 2px solid $secondary-color;
  color: $secondary-color;
}
