<div class="footer-wrapper">
    <div class="footer-link-wrapper">
        <div class="link-btn">
            <span class="material-symbols-outlined">description</span>
            <span class="link">_imprint</span>
        </div>
        <div class="link-btn">
            <span class="material-symbols-outlined">lock</span>
            <span class="link">_data</span>
        </div>
    </div>

    <div class="footer-icons-wrapper">
        <div class="icons-btn">
            <i class="fa-brands fa-github icon-fa icon">_github</i>
            <span class="icon-label">_github</span>
        </div>
        <div class="icons-btn">
            <i class="fa-brands fa-linkedin icon-fa icon"></i>
            <span class="icon-label">_linkedIn</span>
        </div>
    </div>

</div>

