@import "../../../assets/scss/variables.scss";

:host {
    height: 3rem;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: $surface-color;
    border-top: 1px solid $surface-contrast-transparent-color;
}

.footer-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
}

.footer-link-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    right: 1rem;

    .link-btn {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0.5rem;
        cursor: pointer;

        .material-symbols-outlined {
            font-variation-settings:
            'FILL' 0,
            'wght' 100,
            'GRAD' 100,
            'opsz' 20
        }

        .link {
            align-items: center;
            display: flex;
            justify-content: center;
            margin-left: 0.25rem;
        }

        &:hover {
            background-color: $surface-contrast-transparent-color;
            color: $surface-txt-contrast-color;
        }
    }
}

.footer-icons-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;

    .icons-btn {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0.5rem;

        .icon {
            align-items: center;
            cursor: pointer;
            display: flex;
            justify-content: center;
            margin-right: 0.5rem;
        }
    }
}




