<div class="footer-wrapper">
    <div class="footer-link-wrapper">
        <div class="link-btn" routerLink="imprint" routerLinkActive="active">
            <span class="material-symbols-outlined">description</span>
            <span class="link">{{ 'Utility.Footer.Imprint' | translate }}</span>
        </div>
        <div class="link-btn" routerLink="privacy" routerLinkActive="active">
            <span class="material-symbols-outlined">lock</span>
            <span class="link">{{ 'Utility.Footer.Privacy' | translate }}</span>
        </div>
    </div>

    <div class="footer-icons-wrapper">
        <div class="icons-btn">
            <i class="fa-brands fa-github icon-fa icon">_github</i>
            <span class="icon-label">{{ 'Utility.Footer.GitHub' | translate }}</span>
        </div>
        <div class="icons-btn">
            <i class="fa-brands fa-linkedin icon-fa icon"></i>
            <span class="icon-label">{{ 'Utility.Footer.LinkedIn' | translate }}</span>
        </div>
    </div>

</div>

