@import "../../../assets/scss/variables.scss";
@import "../../../assets/scss/fira_fonts.scss";
@import "../../../assets/scss/roboto_fonts.scss";

:host {
    height: fit-content;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: $surface-color;
    border-top: 1px solid $surface-contrast-transparent-color;
}

.footer-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
    position: relative;
}

.footer-link-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;

    .link-btn {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0.5rem;
        cursor: pointer;
        border-top: 1px solid $surface-color;

        .material-symbols-outlined {
            font-variation-settings:
            'FILL' 0,
            'wght' 100,
            'GRAD' 100,
            'opsz' 20
        }

        .link {
            align-items: center;
            display: flex;
            justify-content: center;
            margin-left: 0.25rem;
        }

        &:hover {
            background-color: $surface-contrast-transparent-color;
            color: $surface-txt-contrast-color;
            border-top: 1px solid $primary-color;
        }
    }
    .icon-label {
        margin-left: 0.5rem;
    }
}

.copyright {
    position: absolute;
    left: 1rem;
    font-size: 0.75rem;
    font-family: fira code, serif;
}

@media (max-width: 768px) {
  .copyright {
    scale: 0.7;
  }
}


