@import './assets/scss/roboto_fonts.scss';
@import './assets/scss/fira_fonts.scss';
@import './assets/scss/variables.scss';

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
}

li {
  list-style-type: none;
}


/* width */
::-webkit-scrollbar {
  width: 1rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: $background-color;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $surface-color;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $surface-contrast-transparent-color;
}

.noselect {
  cursor: default;
  user-select: none;
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  -webkit-touch-callout: none;
  /* iOS Safari */
}
