@import '../../assets/scss/variables.scss';

:host {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
  background-color: $background-color;
  color: $background-contrast-color;
}

.home-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  router-outlet {
    height: 100%;
    width: 100%;
  }
}