@import "../../../assets/scss/variables.scss";

:host {
  display: flex;
  height: fit-content;
  width: 100%;
  background-color: $surface-color;
  border-bottom: 1px solid $surface-contrast-transparent-color;
}

.navbar-wrapper {
  display: flex;
  align-items: center;
  /*  height: 100%;*/
  width: 100%;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  width: 100%;

  .nav-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.75rem 1rem;
    color: $surface-txt-contrast-color;
    border-top: 2px solid $surface-color;
    border-right: 1px solid $surface-contrast-transparent-color;
    height: fit-content;
    min-width: 8rem;
    width: fit-content;

    &:hover {
      cursor: pointer;
      border-top: 2px solid $primary-color;
      background-color: $surface-contrast-transparent-color;
    }

    .icon-headline-wrapper {
      height: 1.25rem;
      width: fit-content;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 0.2rem;

      .css {
        height: 1.25rem;
      }

      .html {
        height: 1rem;
      }

      .json {
        height: 1rem;
      }

      .typescript {
        height: 1rem;
      }

      .javascript {
        height: 1rem;
      }

      .md {
        height: 1rem;
      }

      .icon {
        object-fit: contain;
        width: fit-content;
      }
    }
  }
}

.active {
  border-top: 2px solid $primary-color !important;
  background-color: $surface-contrast-transparent-color;
}


