 <div class="navbar-wrapper">
  <div class="navbar">
    <div class="nav-button" routerLink="hello" routerLinkActive="active">
      <div class="icon-headline-wrapper">
        <img class="css icon" ngSrc="./assets/icons/css.png" alt="css-icon" height="96" width="96">
      </div>
      _hello.scss</div>
    <div class="nav-button" routerLink="about" routerLinkActive="active">
      <div class="icon-headline-wrapper">
        <img class="html icon" ngSrc="./assets/icons/html.png" alt="html-icon" height="96" width="85">
      </div>
      _about-me.html</div>
    <div class="nav-button" routerLink="projects" routerLinkActive="active">
      <div class="icon-headline-wrapper">
        <img class="json icon" ngSrc="./assets/icons/json.png" alt="json-icon" height="64" width="64">
      </div>
      _projects.json</div>
    <div class="nav-button" routerLink="contact" routerLinkActive="active">
      <div class="icon-headline-wrapper">
        <img class="typescript icon" ngSrc="./assets/icons/typescript.png" alt="typescript-icon" height="69" width="96">
      </div>
      _contact-me.ts</div>
<!--    <a class="nav-button">-->
<!--      <div class="icon-headline-wrapper">-->
<!--        <img class="javascript icon" ngSrc="./assets/icons/javascript.png" alt="javascript-icon" height="96" width="96">-->
<!--      </div>-->
<!--      _gitHub.js</a>-->
<!--    <a class="nav-button">-->
<!--      <div class="icon-headline-wrapper">-->
<!--        <img class="md icon" ngSrc="./assets/icons/md.png" alt="mg-icon" height="64" width="64">-->
<!--      </div>-->
<!--      _linkedIn.md</a>-->
  </div>
</div>




