<div class="navbar-wrapper">
  <div class="navbar">
    <ng-container *ngIf="activeTab === 'home'">
      <div class="nav-button" routerLink="home" routerLinkActive="active">
        <div class="icon-headline-wrapper">
          <img alt="css-icon" class="css icon" height="96" ngSrc="./assets/icons/css.png" width="96">
        </div>
        {{ 'Utility.Navigation.Home' | translate }}
      </div>
    </ng-container>
    <ng-container *ngIf="activeTab === 'about'">
      <div class="nav-button" routerLink="about" routerLinkActive="active">
        <div class="icon-headline-wrapper">
          <img alt="html-icon" class="html icon" height="96" ngSrc="./assets/icons/html.png" width="85">
        </div>
        {{ 'Utility.Navigation.AboutMe' | translate }}
      </div>
    </ng-container>
    <ng-container *ngIf="activeTab === 'projects'">
      <div class="nav-button" routerLink="projects" routerLinkActive="active">
        <div class="icon-headline-wrapper">
          <img alt="json-icon" class="json icon" height="64" ngSrc="./assets/icons/json.png" width="64">
        </div>
        {{ 'Utility.Navigation.Projects' | translate }}
      </div>
    </ng-container>
    <ng-container *ngIf="activeTab === 'contact'">
      <div class="nav-button" routerLink="contact" routerLinkActive="active">
        <div class="icon-headline-wrapper">
          <img alt="typescript-icon" class="typescript icon" height="69" ngSrc="./assets/icons/typescript.png" width="96">
        </div>
        {{ 'Utility.Navigation.ContactMe' | translate }}
      </div>
    </ng-container>
    <ng-container *ngIf="activeTab === 'privacy'">
      <div class="nav-button" routerLink="privacy" routerLinkActive="active">
        <div class="icon-headline-wrapper">
          <img alt="typescript-icon" class="typescript icon" height="69" ngSrc="./assets/icons/typescript.png" width="96">
        </div>
        {{ 'Utility.Privacy' | translate }}
      </div>
    </ng-container>
    <ng-container *ngIf="activeTab === 'imprint'">
      <div class="nav-button" routerLink="imprint" routerLinkActive="active">
        <div class="icon-headline-wrapper">
          <img alt="typescript-icon" class="typescript icon" height="69" ngSrc="./assets/icons/typescript.png" width="96">
        </div>
        {{ 'Utility.Imprint' | translate }}
      </div>
    </ng-container>
    <ng-container *ngIf="activeTab === 'settings'">
      <div class="nav-button" routerLink="settings" routerLinkActive="active">
        <div class="icon-headline-wrapper">
          <span class="material-symbols-outlined settings">settings</span>
        </div>
        {{ 'Utility.Navigation.Settings' | translate }}
      </div>
    </ng-container>
  </div>
</div>