<div class="navbar-wrapper">
  <div class="navbar">
    <div class="nav-button" routerLink="hello" routerLinkActive="active">
      <div class="icon-headline-wrapper">
        <img alt="css-icon" class="css icon" height="96" ngSrc="./assets/icons/css.png" width="96">
      </div>
      {{ 'Utility.Navigation.Hello' | translate }}
    </div>

    <div class="nav-button" routerLink="about" routerLinkActive="active">
      <div class="icon-headline-wrapper">
        <img alt="html-icon" class="html icon" height="96" ngSrc="./assets/icons/html.png" width="85">
      </div>
      {{ 'Utility.Navigation.AboutMe' | translate }}
    </div>

    <div class="nav-button" routerLink="projects" routerLinkActive="active">
      <div class="icon-headline-wrapper">
        <img alt="json-icon" class="json icon" height="64" ngSrc="./assets/icons/json.png" width="64">
      </div>
      {{ 'Utility.Navigation.Projects' | translate }}
    </div>

    <div class="nav-button" routerLink="contact" routerLinkActive="active">
      <div class="icon-headline-wrapper">
        <img alt="typescript-icon" class="typescript icon" height="69" ngSrc="./assets/icons/typescript.png" width="96">
      </div>
      {{ 'Utility.Navigation.ContactMe' | translate }}
    </div>
    <!--    <a class="nav-button">-->
    <!--      <div class="icon-headline-wrapper">-->
    <!--        <img class="javascript icon" ngSrc="./assets/icons/javascript.png" alt="javascript-icon" height="96" width="96">-->
    <!--      </div>-->
    <!--      _gitHub.js</a>-->
    <!-- <a class="nav-button">
         <div class="icon-headline-wrapper">
           <img class="md icon" ngSrc="./assets/icons/md.png" alt="mg-icon" height="64" width="64">
         </div>
    <div></div>_linkedIn.md</a> -->
  </div>
</div>
