@import "../scss/variables.scss";

:root {
    --primary-color: #aad94c;
    --primary-contrast-color: #0d1017;
    --primary-txt-color: #aad94c;
    --primary-txt-contrast-color: #0d1017;

    --secondary-color: #39bae6;
    --secondary-contrast-color: #0d1017;
    --secondary-txt-color: #39bae6;
    --secondary-txt-contrast-color: #0d1017;

    --surface-color: #131822;
    --surface-contrast-color: #bfbdb6;
    --surface-contrast-transparent-color: #bfbdb644;
    --surface-txt-color: #131822;
    --surface-txt-contrast-color: #bfbdb6;
    --surface-txt-contrast-transparent-color: #bfbdb644;

    --background-color: #0d1017;
    --background-contrast-color: #bfbdb6;
    --background-txt-color: #0d1017;
    --background-txt-contrast-color: #bfbdb6;

    --success-color: #7fd962;
    --success-contrast-color: #0d1017;
    --success-txt-color: #7fd962;
    --success-txt-contrast-color: #0d1017;

    --warning-color: #ffb454;
    --warning-contrast-color: #0d1017;
    --warning-txt-color: #ffb454;
    --warning-txt-contrast-color: #0d1017;

    --error-color: #f26d78;
    --error-contrast-color: #0d1017;
    --error-txt-color: #f26d78;
    --error-txt-contrast-color: #0d1017;

    --secondary-pulse-color: #39bae6aa;

    --button-color: #aad94c;
    --button-contrast-color: #0d1017;
    --button-txt-color: #aad94c;
    --button-txt-contrast-color: #0d1017;

    --button-hover-color: #0d1017;
    --button-hover-contrast-color: #bfbdb6;
    --button-txt-hover-color: #bfbdb6;
    --button-txt-hover-contrast-color: #0d1017;
}

$primary-color: #aad94c;
$primary-contrast-color: #0d1017;
$primary-txt-color: #aad94c;
$primary-txt-contrast-color: #0d1017;

$secondary-color: #39bae6;
$secondary-contrast-color: #0d1017;
$secondary-txt-color: #39bae6;
$secondary-txt-contrast-color: #0d1017;

$surface-color: #131822;
$surface-contrast-color: #bfbdb6;
$surface-contrast-transparent-color: #bfbdb644;
$surface-txt-color: #131822;
$surface-txt-contrast-color: #bfbdb6;
$surface-txt-contrast-transparent-color: #bfbdb644;

$background-color: #0d1017;
$background-contrast-color: #bfbdb6;
$background-txt-color: #0d1017;
$background-txt-contrast-color: #bfbdb6;

$success-color: #7fd962;
$success-contrast-color: #0d1017;
$success-txt-color: #7fd962;
$success-txt-contrast-color: #0d1017;

$warning-color: #ffb454;
$warning-contrast-color: #0d1017;
$warning-txt-color: #ffb454;
$warning-txt-contrast-color: #0d1017;

$error-color: #f26d78;
$error-contrast-color: #0d1017;
$error-txt-color: #f26d78;
$error-txt-contrast-color: #0d1017;

$secondary-pulse-color: #39bae6aa;

$button-color: #aad94c;
$button-contrast-color: #0d1017;
$button-txt-color: #aad94c;
$button-txt-contrast-color: #0d1017;

$button-hover-color: #0d1017;
$button-hover-contrast-color: #bfbdb6;
$button-txt-hover-color: #bfbdb6;
$button-txt-hover-contrast-color: #0d1017;
