@import "../scss/variables.scss";

:root {
    --primary-color: #007bffcc;
    --primary-contrast-color: #0d1017;
    --primary-txt-color: #007bffcc;
    --primary-txt-contrast-color: #0d1017;

    --secondary-color: #eca03dbb;
    --secondary-contrast-color: #0d1017;
    --secondary-txt-color: #eca03dbb;
    --secondary-txt-contrast-color: #0d1017;

    --surface-color: #ff1e1e1e;
    --surface-contrast-color: #fff1f1f1;
    --surface-contrast-transparent-color: #ff1e1e44;
    --surface-txt-color: #ff1e1e1e;
    --surface-txt-contrast-color: #fff1f1f1;
    --surface-txt-contrast-transparent-color: #ff1e1e44;

    --background-color: #ff252526;
    --background-contrast-color: #fff5f5f5;
    --background-txt-color: #ff252526;
    --background-txt-contrast-color: #fff5f5f5;

    --success-color: #7fd962;
    --success-contrast-color: #0d1017;
    --success-txt-color: #7fd962;
    --success-txt-contrast-color: #0d1017;

    --warning-color: #ffb454;
    --warning-contrast-color: #0d1017;
    --warning-txt-color: #ffb454;
    --warning-txt-contrast-color: #0d1017;

    --error-color: #f26d78;
    --error-contrast-color: #0d1017;
    --error-txt-color: #f26d78;
    --error-txt-contrast-color: #0d1017;

    --secondary-pulse-color: #eca03dbb;

    --button-color: #007bffcc;
    --button-contrast-color: #0d1017;
    --button-txt-color: #007bffcc;
    --button-txt-contrast-color: #0d1017;

    --button-hover-color: #0d1017;
    --button-hover-contrast-color: #bfbdb6;
    --button-txt-hover-color: #bfbdb6;
    --button-txt-hover-contrast-color: #0d1017;
}

$primary-color: #007bffcc;
$primary-contrast-color: #0d1017;
$primary-txt-color: #007bffcc;
$primary-txt-contrast-color: #0d1017;

$secondary-color: #eca03dbb;
$secondary-contrast-color: #0d1017;
$secondary-txt-color: #eca03dbb;
$secondary-txt-contrast-color: #0d1017;

$surface-color: #ff1e1e1e;
$surface-contrast-color: #fff1f1f1;
$surface-contrast-transparent-color: #ff1e1e44;
$surface-txt-color: #ff1e1e1e;
$surface-txt-contrast-color: #fff1f1f1;
$surface-txt-contrast-transparent-color: #ff1e1e44;

$background-color: #ff252526;
$background-contrast-color: #fff5f5f5;
$background-txt-color: #ff252526;
$background-txt-contrast-color: #fff5f5f5;

$success-color: #7fd962;
$success-contrast-color: #0d1017;
$success-txt-color: #7fd962;
$success-txt-contrast-color: #0d1017;

$warning-color: #ffb454;
$warning-contrast-color: #0d1017;
$warning-txt-color: #ffb454;
$warning-txt-contrast-color: #0d1017;

$error-color: #f26d78;
$error-contrast-color: #0d1017;
$error-txt-color: #f26d78;
$error-txt-contrast-color: #0d1017;

$secondary-pulse-color: #eca03dbb;

$button-color: #007bffcc;
$button-contrast-color: #0d1017;
$button-txt-color: #007bffcc;
$button-txt-contrast-color: #0d1017;

$button-hover-color: #0d1017;
$button-hover-contrast-color: #bfbdb6;
$button-txt-hover-color: #bfbdb6;
$button-txt-hover-contrast-color: #0d1017;
